<div class="login-box" ng-app="mymodule">
    <h2> Student Login</h2>
    <form ng-controller="logincontroller">
        <div class="user-box">
            <input type="text" name="" required="" ng-model="name">
            <link rel="stylesheet" href="/css/login.css">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input type="password" name="" required="" ng-model="pass">
            <label>Password</label>
        </div>
        <button ng-click="postdata(name,pass)">
            Submit
        </button>
    </form>
</div>